$pelorous: #34A4BD;
$catskill-white: #E8EDF3;
$catskill-white-lighter: #F2F4F8;
$catskill-white-light: #F5F8FA;
$athens-gray: #FAFBFC;
$white: #FFFFFF;
$fiord: #3D5063;
$blue-bayoux: #425B76;
$wild-blue-yonder: #7693B2;
$dark-red: #dd0000;
$loblolly: #C4C9CD;

$body-font-color: $fiord;
$alert-color: $dark-red;
$font-size-small: 11px;
$font-size-large: 14px;
$font-size-form: 13px;
$font-size-regular: 12px;
$font-size-icon-small: 9px;
$font-color-form: $loblolly;
$border-rounded: 0;
$border-style: 1px solid $catskill-white;
